<html>
<head>
    <title>My Blog</title>
</head>
<body>
    <div>
        <h1><a href=""><em><strong>My Blog</strong></em></a></h1>
    </div>
<section>
    <div style="{'color':grey}">
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>A template is a file that we can re-use to present different information in a consistent format – for example, you could use a template to help you write a letter because although each letter might contain a different message and be addressed to a different person, they will share the same format.A Django template's format is described in a language called HTML.</p>
        </div>
</section>
<section>
    <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My Second post</a></h2>
            <p>A template is a file that we can re-use to present different information in a consistent format – for example, you could use a template to help you write a letter because although each letter might contain a different message and be addressed to a different person, they will share the same format.A Django template's format is described in a language called HTML.</p>
        </div>
</section>
    <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My Thired post</a></h2>
            <p>A template is a file that we can re-use to present different information in a consistent format – for example, you could use a template to help you write a letter because although each letter might contain a different message and be addressed to a different person, they will share the same format.A Django template's format is described in a language called HTML.</p>
        </div>
</body>
</html>